@import "variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Bellefair", serif;
  background-color: $bg-color;
  color: $white-accent;
}
